<!-- <h4 class="page-header">Kategoriler</h4> -->
<style>
  .list-group-item:visited{
    border-color: tomato;
  }
</style>
<ul class="list-group list-group-flush pr-0 rounded-3 ">
  <li class="list-group-item font-weight-bold list-group-item-action " 
    routerLinkActive="active" 
    [routerLinkActiveOptions]={exact:true} 
    routerLink="dashboard" 
    (click)="onSelect()">
    <i class="fa fa-pie-chart">&nbsp;&nbsp;</i>Project Dashboard
   </li> 
   <li class="list-group-item font-weight-bold list-group-item-action" routerLinkActive="active" 
   routerLink="project-members">
   <i class="fa fa-users">&nbsp;&nbsp;</i>Project Members
  </li>
  <li class="list-group-item font-weight-bold list-group-item-action" routerLinkActive="active" 
  routerLink="meetings">
    <i class="fa fa-handshake-o" >&nbsp;&nbsp;</i>Meetings
  </li>
  <li class="list-group-item font-weight-bold list-group-item-action" routerLinkActive="active" 
  routerLink="taskboard">
    <i class="fa fa-tasks">&nbsp;&nbsp;</i>Taskboard
  </li>
  <!-- <li *ngFor="let category of categories.data" class="list-group-item font-weight-bold list-group-item-action" (click)="onSelect(category)" routerLinkActive="active" 
  routerLink="products/{{category.name}}">
  <i class="fa fa-home">&nbsp;&nbsp;</i>{{category.name}}
  </li> -->

</ul>