<div class="col bg-light">
    <!-- <h4 class="page-header">Ürünler</h4> -->
  </div>
  <div class="col">
     <input class="form-control" type="text" placeholder="type something..." > <!-- [(ngModel)]="filterText" -->
  </div>
  
  <!-- <div class="col" *ngIf=filterText>
  <b>{{filterText}}</b> için arama yaptınız.
  </div> -->

  <div class="col mt-3 ">
<div class="row">
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart 
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart
            [datasets]="radarChartData"
            [options]="radarChartOptions"
            [colors]="radarChartColors"
            [labels]="radarChartLabels"
            [chartType]="radarChartType">
          </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
    </div>
</div>



<div class="row mt-5">
    <div class="col-md-4">
        <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [colors]="doughnutChartColors"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
    </div>
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart
            [datasets]="bubbleChartData"
            [options]="bubbleChartOptions"
            [colors]="bubbleChartColors"
            [legend]="bubbleChartLegend"
            [chartType]="bubbleChartType">
          </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [colors]="doughnutChartColors"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
    </div>

</div>


<div class="row mt-5">
   
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart
            [datasets]="bubbleChartData"
            [options]="bubbleChartOptions"
            [colors]="bubbleChartColors"
            [legend]="bubbleChartLegend"
            [chartType]="bubbleChartType">
          </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [colors]="doughnutChartColors"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
    </div>
</div>


  </div>
